---
---

<footer class="w-full py-6 bg-gray-400 flex flex-col items-center">
  <p class="text-xs ">
    Inspiration comes from
    <a class="ms-1 hover:text-blue-600 underline" target="_blank" href="https://x.com/@okaybrb">@okaybrb</a>
  </p>
  <p class="text-xs ">
    The source code is stored on <a class="ms-1 hover:text-blue-600 underline" target="_blank" href="https://github.com/stevending1st/pet-tax">GitHub</a>
  </p>
</footer>
